@keyframes flip-enter{
  0% {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes flip-leave{
  0% {
    transform-origin: bottom;
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
    opacity: 0;
  }
}

@keyframes fade-in{
  0%   { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes fade-out{
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

.flip-enter{
  animation: flip-enter .8s;
  animation-fill-mode: forwards;
}

.flip-leave{
  animation: flip-leave .8s;
  animation-fill-mode: forwards;
}

.fade-in{
  animation: fade-in .8s;
  animation-fill-mode: forwards;
}

.fade-out{
  animation: fade-out .8s;
  animation-fill-mode: forwards;
}
