@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

*{
  /* border: 1px solid rgba(0,0,255,.5); */
}

body{
  font-family: 'Noto Sans TC', sans-serif;
  color: #1e1e1e;
}

.JP{
  font-family: 'Noto Sans Japanese', sans-serif;
}
.KR{
  font-family: 'Noto Sans KR',  sans-serif;
}


/* ––––Top–––––––––––––––––––––*/

#display{
  overflow: hidden;
}

.top-area{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* 終點站 */
.terminal-area{
  font-size: 1.8rem;
  font-weight: 700;
}

.terminal-area .box{
  position: relative;
}

.terminal-area .box .label{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.terminal-area .box .name{
  font-size: 1.8rem;
  font-weight: 700;
}

.terminal-area .CH.name span, .terminal-area .JP.name span, .terminal-area .KR.name span{
  letter-spacing: .5rem;
  padding-left: .5rem;
}

/* 車號 */
.car-num-area{
  font-size: 1.8rem;
  font-weight: 600;
}

.car-num-area .num{
  font-size: 2rem;
  vertical-align:middle;
}

.car-num-area .box{
  position: relative;
}

.car-num-area .label{
  position: absolute;
  left: 0;
  letter-spacing:.3rem;
  margin: .3rem;
}

.car-num-area .label.EN{
  position: absolute;
  right: 0;
  letter-spacing:0rem;
}

.car-num-area .label span{
  display: inline-block;
}

/* 車站編號文字Box */
.main-sta-num-area .box{
  position: relative;
}

/* 車站編號文字（下一站） */
.main-sta-num-area .label{
  position: absolute;
  font-size: 3.4rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

/* 車站編號數字（BL01） */
.main-sta-num-area .num{
  min-width:6rem;
  font-size: 2.5rem;
  font-weight: 700;
}


/* 主要車站文字外框 */
.main-sta-area .box{
  position: relative;
  height: 12rem;
}

/* 主要車站文字 */
.main-sta-area .box .name{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 7.4rem;
  font-weight: 600;
  display: inline-block;
  white-space:nowrap;
  width: 100%;
  display: block;
  text-align: center;
}

.main-sta-area .box .name .text{
  display: inline-block;
  transform-origin:left;
}

/* -––––––––––––––––––––––––– */

/* 分割線 */
.divide-line {
  height: .8rem;
}
.btm-area .row {
  /* height: 35rem; */
  /* border: 1px solid red; */
}
.btm-area  *{
  /* border: 1px solid rgba(0,0,255,.5); */
}

.sub-sta-area .name-area{
  min-height: 18rem;
  height: 18rem;  /* 重要 */

}
.sub-sta-area .box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  width: 5rem;
  font-size: 2.8rem;

}
.sub-sta-area .box .name{
  writing-mode: vertical-rl;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: visible;
  white-space: nowrap;
  vertical-align: middle;
}

.sub-sta-area .box .name.EN{
  writing-mode: horizontal-tb;
  font-weight: 500;
  display: block;
  overflow: visible;
  width: 22rem;
  text-align: left;
  line-height: 3rem;
  transform-origin: left bottom;
  transform: translateX(3rem) rotate(-60deg);
  white-space:nowrap;
}

.sub-sta-area .box .name .text{
  display: inline-block;
  transform-origin: center bottom;
  width: auto;
}

.sub-sta-area .box .name.EN .text{
  display: inline-block;
  transform-origin: left center;
  width: auto;
}

.sub-sta-area .box .num{
  font-size: 1.5rem;
}

/* ––––––––––––––––––––––––––––––– */

.sub-sta-area .route-area{
  height: 3.4rem;
}

.sub-sta-area .route-area .time-box{
  background: rgba(255,255,255,.8);
  width:4rem;
  height:2.5rem;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-items:center;
  justify-content:center;
}

.sub-sta-area .route-area .time-box .text{
  color: #1e1e1e;
  font-size: 1.8rem;
  font-weight: 700;
}

.route-arrow {
  z-index: 0;
  width: 0;
  height: 0;
  border: transparent 1.5rem solid;
  border-left: red 1.5rem solid;
}

.passed-sta{
  opacity: .5;
}

.line-icon{
  height: 1.8rem;
  width: 1.8rem;
  padding: .35rem 0;
  font-size: 1rem;
  vertical-align: middle;
  font-weight: 500;
}

.line-icon.other{
  padding: .15rem .15rem;
}

.trans .row{
  height: 2.5rem;
}

.trans-area .trans .text{
  display: block;
  font-weight: 500;
  line-height: 1.2rem;
  margin-left: .2rem;
}
/* 遙控器 */
.remote{
  opacity: .8;
}

.remote .btn,.remote select{
  font-size: .4rem;
}

.remote .card{
  background: rgba(255,255,255,.8);
  transition: all .2s;
}

.remote .card-body{
  padding: .4rem;
}

/* 廣播 */

.line-icon.lg{
  height: 7rem;
  width: 7rem;
  padding: .8rem 0;
  font-size: 4.5rem;
  vertical-align: middle;
  font-weight: 500;
  border-radius: 1.5rem;
}

.line-icon.other.lg{
  padding: .6rem 1rem;
}

.broadcast .trans-text{
  font-size: 2rem;
  font-weight: 600;
}

.broadcast .trans-text .CH{
  font-size: 3rem;
  line-height: 3rem;
}

.broadcast .trans-text .EN{

}
