*{
  /* border: 1px solid rgba(0,0,255,.5); */
}

/* ––––Top–––––––––––––––––––––*/

.top-area{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* 終點站 */
.terminal-area{
  font-size: 1.6rem;
  font-weight: 600;
}

.terminal-area .label{
  vertical-align: middle;
  display: block;
}

.terminal-area .name{
  font-size: 1.8rem;
  font-weight: 500;
}

.terminal-area .CH.name span{
  letter-spacing: .5rem;
  padding-left: .5rem;
}

/* 車號 */
.car-num-area{
  font-size: 1.6rem;
  font-weight: 600;
}

.car-num-area .num{
  font-size: 2rem;
  vertical-align:middle;
}

/* 車站編號文字（下一站） */
.main-sta-num-area .label{
  font-size: 2.2rem;
  font-weight: 700;
  display: block;
}

/* 車站編號數字（BL01） */
.main-sta-num-area .num{
  font-size: 2rem;
  font-weight: 700;
}


/* 主要車站文字外框 */
.main-sta-area .box{
  text-align: center;
  overflow: hidden;

}

/* 主要車站文字 */
.main-sta-area .box .name{
  font-size: 6rem;
  font-weight: 600;
  color: #1e1e1e;
  display: block;
  text-align: center;
  white-space:nowrap;
  transition: all 1s;
}

.main-sta-area .box .name:not(:first-child){
  margin-top:-9rem;
}

.main-sta-area .box .name .text{
  display: inline-block;
  transform-origin:left;
}

/* 分割線 */
.divide-line{
  height: .8rem;
}
