*{
  /* border: 1px solid rgba(0,0,255,.5); */
}

body{
  color: #1e1e1e;
}

/* ––––Top–––––––––––––––––––––*/
#display{
  overflow: hidden;
}
.top-area{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* 終點站 */
.terminal-area{
  font-size: 1.8rem;
  font-weight: 700;
}

.terminal-area .label{
  vertical-align: middle;
  display: block;
}

.terminal-area .name{
  font-size: 1.8rem;
  font-weight: 700;
}

.terminal-area .CH.name span{
  letter-spacing: .5rem;
  padding-left: .5rem;
}

/* 車號 */
.car-num-area{
  font-size: 1.6rem;
  font-weight: 600;
}

.car-num-area .num{
  font-size: 2rem;
  vertical-align:middle;
}

/* 車站編號文字（下一站） */
.main-sta-num-area .label{
  font-size: 2.4rem;
  font-weight: 700;
  display: block;
}

/* 車站編號數字（BL01） */
.main-sta-num-area .num{
  font-size: 2rem;
  font-weight: 700;
}


/* 主要車站文字外框 */
.main-sta-area .box{
  text-align: center;
  overflow: hidden;

}

/* 主要車站文字 */
.main-sta-area .box .name{
  font-size: 7.4rem;
  font-weight: 600;
  color: #1e1e1e;
  display: block;
  text-align: center;
  white-space:nowrap;
  transition: all 1s;
}

.main-sta-area .box .name .text{
  display: inline-block;
  transform-origin:left;
}

/* -––––––––––––––––––––––––– */

/* 分割線 */
.divide-line {
  height: .8rem;
}

.btm-area .sub-sta-area *{
  /* border: 1px solid rgba(0,0,255,.5); */
}

.sub-sta-area .name-area{
  min-height: 18rem;
}
.sub-sta-area .box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  width: 5rem;
  font-size: 2.8rem;
}
.sub-sta-area .box .name.CH{
  writing-mode: vertical-rl;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sub-sta-area .box .name.EN{
  font-weight: 500;
  display: block;
  overflow: visible;
  width: 22rem;
  text-align: left;
  line-height:2.8rem;
  transform-origin: left bottom;
  transform: translateX(3rem) rotate(-60deg);
  white-space:nowrap;
}

.sub-sta-area .box .name .text{
  display: inline-block;
  transform-origin: left center;
  width: auto;
}

.sub-sta-area .box .num{
  font-size: 1.5rem;
}

/* ––––––––––––––––––––––––––––––– */

.sub-sta-area .route-area{
  height: 3.4rem;
}

.sub-sta-area .route-area .time-box{
  background: rgba(255,255,255,.8);
  width:4rem;
  height:2.5rem;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-items:center;
  justify-content:center;
}

.sub-sta-area .route-area .time-box .text{
  color: #1e1e1e;
  font-size: 1.8rem;
  font-weight: 700;
}

.route-arrow {
  z-index: 0;
  width: 0;
  height: 0;
  border: transparent 1.5rem solid;
  border-left: red 1.5rem solid;
}
