@keyframes main_sta_ani {
  0% {
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
  }
  /* 維持 */
  45% {
    transform-origin: bottom;
    transform: scaleY(1);
    opacity: 1;
  }
  50% {
    transform-origin: bottom;
    transform: scaleY(0);
    opacity: 0;
  }
  /* 維持 */
  95% {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes main_sta_ani_eng {
  0% {
    transform-origin: top;
    transform: scaleY(0) scaleX(.75);
    opacity: 0;
  }
  45% {
    transform-origin: top;
    transform: scaleY(0) scaleX(.75);
    opacity: 0;
  }
  50% {
    transform-origin: top;
    transform: scaleY(1) scaleX(.75);
    opacity: 1;
  }

  95% {
    transform-origin: bottom;
    transform: scaleY(1) scaleX(.75);
    opacity: 1;
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0) scaleX(.75);
    opacity: 0;
  }

}

@keyframes main_info_ani {
  0% {
    opacity: 1;
  }
  /* 維持 */
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  /* 維持 */
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

@keyframes main_info_ani_eng {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}

@keyframes sub_info_ani {
  0% {
    visibility: visible;
    margin-top: -28rem;
  }
 
  50% {
    visibility: hidden;
    margin-top: 0rem;
  }
  100% {
    visibility: visible;
    margin-top: -28rem;
  }

}

@keyframes sub_info_ani_eng {
  0% {
    visibility: hidden;
  }

  50% {
   visibility: visible;
    
  }

  100% {
   visibility: hidden;
  }

}

h1.main_station_name,
.destination h3,
.car_num .text_r,
.car_num .text_l,
.main_station_number h2 {
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

h1.main_station_name {
  animation-name: main_sta_ani;
}

h1.main_station_name.eng {
  animation-name: main_sta_ani_eng;
}

.destination h3,
.car_num .text_r,
.main_station_number h2 {
  animation-name: main_info_ani;
}

.destination h3.eng,
.car_num .text_l,
.main_station_number h2.eng {
  animation-name: main_info_ani_eng;
}

.btm_area.stations,
.btm_area.stations.eng {
  animation-duration: 20s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
}

.btm_area.stations {
  
  animation-name: sub_info_ani;
  
}

.btm_area.stations.eng {

  animation-name: sub_info_ani_eng;
}
