/* 主要車站 翻轉動畫 */
@keyframes main_sta_ani {
  0% {
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
  }
  /* 維持 */
  45% {
    transform-origin: bottom;
    transform: scaleY(1);
    opacity: 1;
  }
  50% {
    transform-origin: bottom;
    transform: scaleY(0);
    opacity: 0;
  }
  /* 維持 */
  95% {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
  }
}

/* 主要車站 翻轉動畫 英文版 */
@keyframes main_sta_ani_eng_scale_100 {
  0% {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }
  45% {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
  }

  95% {
    transform-origin: bottom;
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
    opacity: 0;
  }

}


/* 主要車站 翻轉動畫 英文版 scaleX(.80) */
@keyframes main_sta_ani_eng_scale_80 {
  0% {
    transform-origin: top;
    transform: scaleY(0) scaleX(.8);
    opacity: 0;
  }
  45% {
    transform-origin: top;
    transform: scaleY(0) scaleX(.8);
    opacity: 0;
  }
  50% {
    transform-origin: top;
    transform: scaleY(1) scaleX(.8);
    opacity: 1;
  }

  95% {
    transform-origin: bottom;
    transform: scaleY(1) scaleX(.8);
    opacity: 1;
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0) scaleX(.8);
    opacity: 0;
  }
}

/* 主要車站 翻轉動畫 英文版 scaleX(.75) */
@keyframes main_sta_ani_eng_scale_75 {
  0% {
    transform-origin: top;
    transform: scaleY(0) scaleX(.75);
    opacity: 0;
  }
  45% {
    transform-origin: top;
    transform: scaleY(0) scaleX(.75);
    opacity: 0;
  }
  50% {
    transform-origin: top;
    transform: scaleY(1) scaleX(.75);
    opacity: 1;
  }

  95% {
    transform-origin: bottom;
    transform: scaleY(1) scaleX(.75);
    opacity: 1;
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0) scaleX(.75);
    opacity: 0;
  }
}

/* 主要車站 翻轉動畫 英文版 scaleX(.60) */
@keyframes main_sta_ani_eng_scale_60 {
  0% {
    transform-origin: top;
    transform: scaleY(0) scaleX(.6);
    opacity: 0;
  }
  45% {
    transform-origin: top;
    transform: scaleY(0) scaleX(.60);
    opacity: 0;
  }
  50% {
    transform-origin: top;
    transform: scaleY(1) scaleX(.60);
    opacity: 1;
  }

  95% {
    transform-origin: bottom;
    transform: scaleY(1) scaleX(.60);
    opacity: 1;
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0) scaleX(.60);
    opacity: 0;
  }
}

/* 主要車站 翻轉動畫 英文版 scaleX(.50) */
@keyframes main_sta_ani_eng_scale_50 {
  0% {
    transform-origin: top;
    transform: scaleY(0) scaleX(.50);
    opacity: 0;
  }
  45% {
    transform-origin: top;
    transform: scaleY(0) scaleX(.5);
    opacity: 0;
  }
  50% {
    transform-origin: top;
    transform: scaleY(1) scaleX(.5);
    opacity: 1;
  }

  95% {
    transform-origin: bottom;
    transform: scaleY(1) scaleX(.5);
    opacity: 1;
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0) scaleX(.5);
    opacity: 0;
  }
}



/* 主要資訊 淡出淡入動畫 */

@keyframes main_info_ani {
  0% {
    opacity: 1;
  }
  /* 維持 */
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  /* 維持 */
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

/* 主要資訊 淡出淡入動畫 英文 */

@keyframes main_info_ani_eng {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}

/* 次要資訊 顯示消失  */

@keyframes sub_info_ani {
  0% {
    visibility: visible;
    margin-top: -28rem;
  }
 
  50% {
    visibility: hidden;
     margin-top: -28rem;
  }
  100% {
    visibility: visible;
    margin-top: -28rem;
  }

}

/* 次要資訊 顯示消失 英文 */

@keyframes sub_info_ani_eng {
  0% {
    visibility: hidden;
  }

  50% {
   visibility: visible;
  }

  100% {
   visibility: hidden;
  }

}

.main_station_name_box h1.main_station_name,
.destination h3,
.car_num .text_r,
.car_num .text_l,
.main_station_number h2 {
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.main_station_name_box h1.main_station_name {
  animation-name: main_sta_ani;
}

.main_station_name_box h1.main_station_name.eng {
  animation-name: main_sta_ani_eng_scale_100;
}
.main_station_name_box h1.main_station_name.eng.scale_80 {
  animation-name: main_sta_ani_eng_scale_80;
}
.main_station_name_box h1.main_station_name.eng.scale_75 {
  animation-name: main_sta_ani_eng_scale_75;
}
.main_station_name_box h1.main_station_name.eng.scale_60 {
  animation-name: main_sta_ani_eng_scale_60;
}
.main_station_name_box h1.main_station_name.eng.scale_50 {
  animation-name: main_sta_ani_eng_scale_50;
}

.destination h3,
.car_num .text_r,
.main_station_number h2 {
  animation-name: main_info_ani;
}

.destination h3.eng,
.car_num .text_l,
.main_station_number h2.eng {
  animation-name: main_info_ani_eng;
}

.btm_area.stations,
.btm_area.stations.eng {
  animation-duration: 10s;
  animation-timing-function: step-end;
  animation-iteration-count:infinite;
}

.btm_area.stations {
  
  animation-name: sub_info_ani;
  
}

.btm_area.stations.eng {

  animation-name: sub_info_ani_eng;
}

/**************************************************/
/* 轉乘資訊動畫 */
.item{
  animation-name: item-ani;
  animation-duration: .5s;  
  animation-timing-function: ease-out;
  animation-iteration-count: 1;

}

@keyframes item-ani{
  0%{
    opacity: 0;
    Xtransform:translateX(-1rem);
  }
  
  100%{
    
  }
}
