/* 常用背景顏色 */
.bg-color{
   background: #333;
}

.bg-color-orange {
  background: #ffa400;
  color: black;
}

.bg-color-red {
  background: #d12a2f;
}

.bg-color-green {
  background: #007549;
}

.bg-color-blue {
  background: #005cb9;
}

.route_arrow.bg-color-blue {
  background: transparent;
  border-left: #005cb9 1.5rem solid;
}

.bg-color-brown {
  background: #a1662c;
}

.bg-color-airport {
  background: #814aad;
}


/* 分割線 */
.divide-line{
  height: .5rem;
}
